# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
awkward=1.10.5=pypi_0
awkward-cpp=28=pypi_0
awkward0=0.15.5=pypi_0
boost-histogram=1.4.0=pypi_0
bzip2=1.0.8=hd590300_5
ca-certificates=2023.11.17=hbcca054_0
cachetools=5.3.2=pypi_0
certifi=2023.11.17=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
cloudpickle=3.0.0=pypi_0
coffea=0.7.22=pypi_0
contextlib2=21.6.0=pypi_0
contourpy=1.2.0=pypi_0
correctionlib=2.4.0=pypi_0
cycler=0.12.1=pypi_0
dask=2024.1.0=pypi_0
dask-awkward=2024.1.2=pypi_0
dask-histogram=2023.10.0=pypi_0
docopt=0.6.2=pypi_0
fonttools=4.47.2=pypi_0
fsspec=2023.12.2=pypi_0
fsspec-xrootd=0.2.4=pypi_0
hist=2.7.2=pypi_0
histoprint=2.4.0=pypi_0
idna=3.6=pypi_0
importlib-metadata=7.0.1=pypi_0
kiwisolver=1.4.5=pypi_0
ld_impl_linux-64=2.40=h41732ed_0
libexpat=2.5.0=hcb278e6_1
libffi=3.4.2=h7f98852_5
libgcc-ng=13.2.0=h807b86a_3
libgomp=13.2.0=h807b86a_3
libnsl=2.0.1=hd590300_0
libsqlite=3.44.2=h2797004_0
libuuid=2.38.1=h0b41bf4_0
libxcrypt=4.4.36=hd590300_1
libzlib=1.2.13=hd590300_5
llvmlite=0.41.1=pypi_0
locket=1.0.0=pypi_0
lz4=4.3.3=pypi_0
markdown-it-py=3.0.0=pypi_0
matplotlib=3.8.2=pypi_0
mdurl=0.1.2=pypi_0
mplhep=0.3.31=pypi_0
mplhep-data=0.0.3=pypi_0
ncurses=6.4=h59595ed_2
numba=0.58.1=pypi_0
numpy=1.23.5=pypi_0
openssl=3.2.0=hd590300_1
packaging=23.2=pypi_0
pandas=2.2.0=pypi_0
partd=1.4.1=pypi_0
pillow=10.2.0=pypi_0
pip=23.3.2=pyhd8ed1ab_0
pipreqs=0.4.13=pypi_0
pyarrow=15.0.0=pypi_0
pydantic=1.10.14=pypi_0
pygments=2.17.2=pypi_0
pyparsing=3.1.1=pypi_0
python=3.11.7=hab00c5b_1_cpython
python-dateutil=2.8.2=pypi_0
pytz=2023.3.post1=pypi_0
pyyaml=6.0.1=pypi_0
readline=8.2=h8228510_1
requests=2.31.0=pypi_0
rich=13.7.0=pypi_0
schema=0.7.5=pypi_0
scipy=1.12.0=pypi_0
setuptools=69.0.3=pypi_0
six=1.16.0=pypi_0
tk=8.6.13=noxft_h4845f30_101
toml=0.10.2=pypi_0
toolz=0.12.0=pypi_0
tqdm=4.66.1=pypi_0
typing-extensions=4.9.0=pypi_0
tzdata=2023.4=pypi_0
uhi=0.4.0=pypi_0
uproot=4.3.7=pypi_0
uproot3=3.14.4=pypi_0
uproot3-methods=0.10.1=pypi_0
urllib3=2.1.0=pypi_0
wheel=0.42.0=pyhd8ed1ab_0
xz=5.2.6=h166bdaf_0
yarg=0.1.9=pypi_0
zipp=3.17.0=pypi_0
